body{
  font-family:Arial;
}
header h1{
  text-align: center;
}
#main{
  position: absolute;
  top: 80px;
  left: 40px;
  right: 40px;
  bottom: 40px;
}
#editor, #output{
  border: 1px solid gray;
  position: absolute;
}
#editor{
  width: 400px;
  top: 0px;
  left: 0px;
  bottom: 40px;
}
#output{
  position: absolute;
  top: 0px;
  left: 420px;
  right: 0px;
  bottom: 0px;
  overflow-y: scroll;
  padding: 5px;
}
#toolbar{
  position: absolute;
  height: 30px;
  bottom: 0px;
}
#toolbar div{
  background-color: #DDD;
  width: 194px;
  height: 23px;
  text-align: center;
  float: left;
  padding-top: 5px;
  border: 1px solid gray;
  cursor: pointer;
}
#toolbar div:first-child{
  margin-right: 5px;
}
#toolbar div:last-child{
  margin-left: 5px;
}
pre{
  margin: 0;
}